{% extends "layout.html" %}

{% block main %}

    <table class="center-th main marginTop">
        <tr>
            <th>Run and Collect</th>
            <th>Game and Spend</th>
        </tr>
        <tr>
            <td>Track the distance you run and the total time of your run. You will be rewarded with cool collectables along your journey!</td>
            <td>Help Bob reach the end of his heroic journey. Spend your earned collectables to buy upgrades to help him successfully reach the end!</td>
        </tr>
        <tr>
            <td><a class="btn btn-info btn-lg" href="/run" role="button" type="button">Run and Collect!</a></td>
            <td><a class="btn btn-info btn-lg" href="/game" role="button" type="button">Game and Spend!</a></td>
        </tr>
    </table>

{% endblock %}